<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.razvan.maze3d"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.razvan.themaze.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.razvan.themaze.SelectLevel"
            android:label="@string/title_activity_select_level"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="ro.razvan.themaze.Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
